html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    font-size: 100%;
    margin: 0;
    line-height: 1;
}

header {
   color: #fff;
   background: #0007;
}

.topclass {
    background: url(C:/Users/keria/Documents/work1/acces/Header\ BG@1X.jpeg) no-repeat;
    max-width: 1602px;
    height: 944px;
    background-position-x: 0px;
    margin: 0 auto;    
}

.nvg {                                        /*хз*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 90px;
    margin: 0 12.5%;
    padding-top: 38px;
    box-sizing: border-box;
    border-bottom: 1px solid #262626;
}

.pic {
    margin-right: 10%;                              /*хз*/
}

nav {
    display: flex;
    width: 52.7%;
}

ul { 
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}


nav ul li:hover {
    border-bottom: 1px solid #fff;
}

a {  
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
   
    
}

.end {
    height: 854px;
    text-align: center;
}

h1 {
   color: #fff;
   padding-top: 300px;
   
   font-family: "Myriad Pro", serif;
   font-weight: bold;
   font-size: 4.5rem;
   
   
}

p {
    color: #fff;
    margin-top: -10px;
    font-family: "Georgia", serif;
    font-style: italic;
    font-size: 2rem;
    text-align: center;


}

.sdw {
    
    height: 1062px;
    background: #0009;
    margin-top: -1062px;
    
}
.forma {
    background: linear-gradient(105deg, #21424a 50%, #2fac6c 50%) no-repeat;
    height: 124px;
    
}

.glh {
    margin: 0 auto;
    display: flex;
    
    
    height: 100%;
}

.hex, .hox {
    width: 100%;
    height: 124px;
    align-items: center;
    display: flex;
    
}

    


.glh a {
    margin: 0 auto;
    font-family: "Lato";
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    
}
.glh a:hover {
    font-size: 30px;
}    



